body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

p {
  color: #8f8f8f;
  width: 55%;
  margin: 5px auto;
  line-height: 1.5;
}

em {
  font-weight: 400;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.small-heading {
  font-size: 2rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 5% 10%;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

.press-section {
  background-color: #ef8172;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

/* Title Section */
#title.container-fluid {
  padding: 5% 10% 7%;
  text-align: left;
}

.title-image {
  width: 30%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

/* Download buttons */
.download-button {
  margin: 3% 2% 3% 0;
}

/* Features section */
#features {
  position: relative;
}

.features-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-icon:hover {
  color: #ff4c68;
}

/* Testimonials section*/
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press section */
.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

/* Pricing section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 2% 3%;
}

/* Footer section */
.social-icon {
  margin: 5px;
}

/* Mobile Responsive */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
